@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

	<div class="post d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container" id="kt_content_container">
			<div class="text-center">
				<h1> <a class="btn btn-primary" href="/Vols/index">Vols</a></h1>
			</div>		

		</div>
		<!--end::Container-->
	</div>
</div>

<Modal id="staticBackdrop" Modaltitle="Name"></Modal>


	
