@page
@model LogoutModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
</body>
<!--end::Body-->
</html>